// 主题颜色
$color-primary: #33aef0;
$color-success: #67C23A;
$color-warning: #E6A23C;
$color-info: #909399;

// 字体颜色
$color-text-primary:#303133;
$color-text-regular:#606266;
$color-text-placeholder: #C0C4CC;
// 边框颜色
$border-color-base: #DCDFE6;
//背景
$background-color-base: #F5F7FA;
$background-color-base-body: #f1f6fd;
$background-color-common: #ffffff;